<html>
    <head>
        <title>Kaylee's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Kaylee's Blog</a></h1>
        </div>

        <div>
            <p>published: 07.13.2017, 02:03</p>
            <h2><a href="">My first post</a></h2>
            <p>I have no idea what to write, I'm just following instructions.</p>
        </div>

        <div>
            <p>published: 07.13.2017, 02:04</p>
            <h2><a href="">My second post</a></h2>
            <p>Now I'm making a second post just to see if this works so if you see this, just ignore it? Thanks.</p>
        </div>
    </body>
</html>
